.card{
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a{
    color: inherit;
    text-decoration: none;
}

.image{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;

    &:hover{
        .secondIMG{
            z-index: 2;
        }
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }

    .mainIMG {
        z-index: 1;
    }

    span {
        position: absolute;
        top: 5px;
        left: 5px;
        background-color: white;
        color: teal;
        padding: 3px 5px;
        z-index: 3;
        font-size: 12px;
        font-weight: 500;
    }
}

h2{
    font-size: 16px;
    font-weight: 400;
}

.prices{
    display: flex;
    gap: 20px;
    align-items: center;

    h3{
        font-size: 13px;
        font-weight: 500;
        color: gray;
        text-decoration: line-through;
    }
}